<ion-header>
  <ion-toolbar>
    <ion-title>
      Ekain Susperregi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>CV</ion-card-subtitle>
        <ion-card-title>Ekain Susperregi Ibarguren</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Informatikaria. Empresa-ekintzailea. Dantzaria</p>
        <br>
        <p><b>Jaioteguna:</b> 1997-11-04</p>
        <p><b>Jaioterria:</b> Oiartzun</p>
        <p><b>Helbidea:</b> Rafael Pikabea 29 1B</p>
        <p><b>e-maila:</b> suspekain@gmail.com</p>
        <p><b>Telefonoa:</b> +34 677 704 161</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>CV</ion-label>
      </ion-list-header>
      <ion-item href="ikasketak">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ikasketak</ion-label>
      </ion-item>
      <ion-item href="lanesperientzia">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Lan Esperientzia</ion-label>
      </ion-item>
      <ion-item href="hizkuntzak">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Hizkuntzak</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
