<ion-header>
  <ion-buttons	slot="start">
    <ion-back-button	defaultHref="/tabs/tab1"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>IKASKETAK</ion-title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="container">
    <h4>(2018-2020)</h4>
    <h2>WEB APLIKAZIOEN GARAPENA</h2>
    <p>Zubiri Manteo ikastetxean. Ikasketak prozesuan</p>
    <hr/>
    <h4>(2016-2018)</h4>
    <h2>SAREKO INFORMATIKA SISTEMEN ADMINISTRAZIOA</h2>
    <p>Zubiri Manteo ikastetxean</p>
    <hr/>
    <h4>(2013-2015)</h4>
    <h2>OIARTZO BATXILLERRA (2013-2015)</h2>
    <p>Batxiller zientifiko-teknologikoa Errenteriako Oiartzo Batxillerrean.</p>
  </div>
</ion-content>
